.header{
  background: Honeydew;
  text-align: center;
  Width: 100%;
  	font-size:20px;
   font-family: 'Josefin Slab', serif;
  padding: 15px;
}

.photo-of-me{
  width:400px;
  padding:20px;
 border: solid #000;
border-width: 1px;

}



/* BODY SECTION*/
.Goals {
  text-align: center;
  padding: 10px;
  font-size: 15pt;
}

.container{
  text-align: center;
  margin: auto;
  width:80%;

}
.col{
 display: inline-block;
 vertical-align: top;

}
.food{
	width:200px;
  display:block;
  padding:4px;
  border: solid #000;
border-width: 1px;
  margin: auto;
}
.fav-meals{
  width:49%;
  display: inline-block;
}
p{
  font-size: 10pt;
  text-align: center;
  padding-bottom:10px;
  margin-left:40px;
}
h3{
  text-align: center;
  padding:10px;
  margin-bottom:15px;
}

.fav-book{
  width:49%;
  display: inline-block;
}
.book{
  width:215px;
  display:block;
  padding:14px;
  border: solid #000;
border-width: 1px;
  margin: auto;
}
